APP_NAME=Roland TM-2 Sample Loader
APP_AUTHOR=levensailor
HOST=0.0.0.0
PORT=8080
LOG_DIR=logs
LOG_FILE_NAME=tm2_loader.log
LOG_MAX_BYTES=1048576
LOG_BACKUP_COUNT=3
LOG_TIMEZONE=America/New_York
SDCARD_PATH=
WAVE_ROOT=Roland/TM-2/WAVE
SAMPLE_RATE=44100
BIT_DEPTH=16
DEFAULT_CHANNELS=stereo
MAX_FILES_PER_FOLDER=300
MAX_FOLDERS=300
MAX_UPLOAD_MB=200
MAX_FILENAME_LENGTH=32
FFMPEG_BINARY=ffmpeg
DEFAULT_FOLDERS=Kicks,Snares,Toms,Hats,Cymbals,Perc,FX,Loops,Tracks
ALLOWED_EXTENSIONS=.wav,.mp3,.aiff,.aif,.flac,.m4a,.aac,.ogg,.oga,.caf,.wma,.mp4
CORS_ORIGINS=*
FREESOUND_API_KEY=
FREESOUND_SEARCH_URL=https://freesound.org/apiv2/search/
FREESOUND_SOUND_URL=https://freesound.org/apiv2/sounds/
ARCHIVE_SEARCH_URL=https://archive.org/advancedsearch.php
ARCHIVE_METADATA_URL=https://archive.org/metadata/
ARCHIVE_DOWNLOAD_URL=https://archive.org/download/
LIBRARY_LICENSE_MODE=performance
LIBRARY_USER_AGENT=Roland-TM-2-Sample-Loader/1.0
LIBRARY_PAGE_SIZE=24
